
<% if admin_signed_in? %>
  <li class="list-none">
    <%= link_to('Products', admin_console_products_path) %>
  </li>
  <li class="list-none">
    <%= link_to('Members', admin_console_admins_path)%>
  </li>
  <li class="list-none">Profile</li>
  <li class="list-none">Business Profile</li>
  <li class="list-none">
    <%= link_to('Logout', destroy_admin_session_path, data: {turbo_method: :delete}) %>
  </li>
<% end %>