<section class="w-screen h-96 bg-gray-800 text-white px-2 py-5 flex justify-around">
  <div class="h-44 w-100">
    <h1 class="text-8xl font-serif border-t-4 border-b-4 p-2">FuzzyFinds</h1>
    <p class="p-2 text-justify">
      Discover a world of wagging tails and contented purrs with our carefully 
      curated selection of pet products and essentials. From fluffy comfort to playful 
      treats, we've got everything your furry friend needs to thrive. 
      Shop now and unleash the joy in every pet-loving heart!
    </p>
  </div>

  <ul class="text-white">
    <h1 class="text-xl mb-5 font-bold">More Links</h1>
    <li>Home</li>
    <li>About us</li>
    <li>Contact us</li>
  </ul>

  <ul>
    <h1 class="text-xl mb-5 font-bold">Follow us</h1>

    <li>Facebook</li>
    <li>Tik Tok</li>
    <li>Instagram</li>
  </ul>
</section>