<div class="flex bg-white z-10 justify-between fixed w-screen top-0 left-0 px-8 py-3 shadow antialiased">
  <h1 class="text-2xl font-medium">HarmonyHutch</h1>
  <ul class="flex justify-between items-center min-w-min w-1/3"></ul>
  <% if request.path.split('/').include?('admin_console') %>
    <%= render 'partials/admin_header'%>
  <% elsif request.path.split('/').include?('admin_console') %>
    <li class="list-none">Home</li>
    <li class="list-none">Products</li>
    <li class="list-none">About</li>
  <% end %>
  </ul>
</div>