<section class="mt-16">
  <%= render partial: "partials/breadcrumb", locals: {breadcrumbs: @breadcrumb.items}%>

  <div class="flex justify-center p-1">
    <%= render partial: 'form',
      locals: {product: @product,
        url: admin_console_product_path(@product),
        form_id: 'edit_product',
        html_class: '',
        stimulus: false,
        cancel_path: admin_console_product_path(@product),
      } 
    %>
  </div>
</section>
