<section class="mt-20 flex justify-center p-1 w-screen">
  <div class="max-w-screen-lg">
    <%= render partial: 'form',
      locals: {product: @product,
        url: admin_console_product_path(@product),
        form_id: 'edit_product',
        html_class: '',
        stimulus: false,
        cancel_path: admin_console_product_path(@product),
      } 
    %>
  </div>
</section>
