<%= turbo_frame_tag 'modal' do %>
  <div class="z-10 fixed flex justify-center items-center top-0 w-screen h-screen bg-opacity-25 bg-black shadow p-1">
    <div class="relative py-4 px-8 mx-auto mt-5 rounded shadow bg-white w-auto max-w-screen-lg overflow-y-auto max-h-128">
      <h2 class="text-2xl my-2 antialiased font-medium">New Product</h2>
      <%= render partial: 'form',
        locals: {product: @product,
          url: admin_console_products_path,
          form_id: 'new_product',
          stimulus: true,
          cancel_js_controller: 'modals',
          cancel_js_actions: 'click->modals#close',
          cancel_path: admin_console_products_path,
        } 
      %>
    </div>
  </div>
<% end %>
